@import "tailwindcss";

:root {
  --foreground: #043359;
  --primary: #043359;
  --secondary: #db2127;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  color: var(--color-foreground);
}
